@model ApartmentManagement.Models.Building

@{
    ViewBag.Title = "OwnerBuildingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Building Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "OwnerBuildingEdit", new { id = Model.building_id }) |
    @Html.ActionLink("Apartments", "BuildingApartments", "Apartments", new { id = Model.building_id }, null)|
    @Html.ActionLink("Delete", "Delete", new { id = Model.building_id })
</p>
