@model IEnumerable<ApartmentManagement.Models.Apartment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Building.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renter.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apartment_number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Building.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Renter.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apartment_number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.apartment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.apartment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.apartment_id })
        </td>
    </tr>
}

</table>
