@model ApartmentManagement.Models.Apartment

@{
    ViewBag.Title = "RenterApartmentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apartment Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Building.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renter.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renter.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apartment_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartment_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Home Page", "Index", "Home") |
    <a href="/Apartments/ApartmentBillings/@Model.apartment_id">Bills</a>
</p>
