@model IEnumerable<ApartmentManagement.Models.Bills>

<label for="cars">Choose a year:</label>

<select id="year" onchange="drop()">
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
</select>
<script>
    var sel = document.getElementById('year');
    var opts = sel.options;
    for (var opt, j = 0; opt = opts[j]; j++) {
        if (opt.value == @ViewData["year"]) {
            sel.selectedIndex = j;
            break;
        }
    }

    function drop() {
        var x = document.getElementById("year").value;
        console.log(x)
        var url = '@Url.Action("ApartmentBillings", "Apartments")?id=' + '@ViewData["ApartmentID"]';
        url += '&year=' + x;
        window.location.href = url;
    }

</script>
@{
    int i = 0;
    var roles = Roles.GetRolesForUser(Membership.GetUser(User.Identity.Name).UserName);
    foreach (var month in @ViewData["Months"] as IEnumerable<String>)
    {
        <h1 style="color:gray;">@month.ToString()</h1>

        <div class="row">
            @if (Model.Count() != 0)
            {
                var items = Model.Skip(i).Take(4);
                foreach (var item in items)
                {
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="@item.photoURL"><img class="card-img-top" src="@item.photoURL" alt=""></a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a>@item.BillName</a>
                                </h5>
                                <h5>Price: @item.price</h5>
                                <p class="card-text"><a>Date: </a>@item.date.ToShortDateString()</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text"><a>Paid: </a>@item.paid</p>
                                <div class="text-center">
                                    @if (@item.paid == false)
                                    {

                                        <button class="btn-outline-dark btn-block" onclick="location.href='@Url.Action("Pay", "Bills",new {ApartmentID=item.apartment_id,BillName=item.BillName,date=item.date})'">Pay</button>

                                    }
                                    @if (roles[0] == "Owner")
                                    {
                                        <button class="btn-outline-dark btn-block" onclick="location.href='@Url.Action("Edit", "Bills",new {ApartmentID=item.apartment_id,BillName=item.BillName,date=item.date})'">Edit</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    i++;
                }
                if (items.Count() < 4)
                {
        <div class="card text-info" style="margin-left:10px;max-height:100px;">
            @if (items.Count() > 0)
            {
                <p style="padding-left:10px;padding-right:5px;margin-top:10px;">@month's some payment informations are not created yet.</p>
            }
            else
            {
                <p style="padding-left:10px;padding-right:5px;margin-top:10px;">@month's payment informations are not created yet.</p>
            }

            @if (roles[0] == "Owner")
            {
                <a class="btn btn-primary" style="display: inline-block;text-align:center;" onclick="location.href='@Url.Action("Create", "Bills",new {id=@ViewData["ApartmentID"],month=month,year=Request.QueryString["year"]})'">Create</a>
                @*<a href="/Bills/Create/@ViewData["ApartmentID"]" class="btn btn-primary" style="display: inline-block;text-align:center;">Create</a>*@
            }
        </div>
                }
            }
            else
            {
                <div class="card text-info" style="margin-left:10px;">
                    <p style="padding-left:10px;padding-right:5px;margin-top:10px;">@month's payment informations are not created yet.</p>
                    @if (roles[0] == "Owner")
                    {
                        <a class="btn btn-primary" style="display: inline-block;text-align:center;" onclick="location.href='@Url.Action("Create", "Bills",new {id=@ViewData["ApartmentID"],month=month,year=Request.QueryString["year"]})'">Create</a>
                        @*<a href="/Bills/Create/@ViewData["ApartmentID"]" class="btn btn-primary" style="display: inline-block;text-align:center;">Create</a>*@
                    }
                </div>
            }
        </div>
        <hr />
    }
}